.visitorquotes {
  float: right;
  margin: 20px;
  width: 50%;
}

.intro p {
  text-align: center;
}

.card-title {
  text-align: center;
}

.packages {
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
}